DATABASE_URL=
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
BLOB_READ_WRITE_TOKEN=
ARTIFACTS_ROOT=..
DEFAULT_ADMIN_EMAIL=
DEFAULT_ADMIN_PASSWORD=
DEFAULT_EDITOR_EMAIL=
DEFAULT_EDITOR_PASSWORD=
ALLOW_RUNTIME_REPO_IMPORTS=false
